{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}


	<div class="row">
		<div class="col-md-4">
			<div class="card mb-3 ml-3" style="width: 17rem;">
				<img src="{{ asset('assets/img/salle1.png')}}" class="card-img-top" alt="salle">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, veritatis! Odio nemo molestias quae ea? Placeat autem impedit odio sapiente velit fuga molestias dolorum, magnam cum iure consequatur officia necessitatibus!.</p>
					<a href="{{ path('reservation') }}" class="btn btn-primary">Reservation</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-3 ml-3" style="width: 17rem;">
				<img src="{{ asset('assets/img/salle2.png')}}" class="card-img-top" alt="salle">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel nihil quod sint repudiandae quasi. Velit consequuntur eum nam nisi labore voluptatem, quia eveniet omnis quidem, nobis sequi cupiditate quos dignissimos?.</p>
					<a href="{{ path('reservation') }}" class="btn btn-primary">Reservation</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-3 ml-3" style="width: 17rem;">
				<img src="{{ asset('assets/img/salle3.png')}}" class="card-img-top" alt="salle">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam velit sint distinctio quos nulla facere, dolor hic ex ipsum ad voluptatum sapiente sed consectetur! Voluptatibus sequi amet atque molestiae reiciendis!.</p>
					<a href="{{ path('reservation') }}" class="btn btn-primary">Reservation</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-3 ml-3" style="width: 17rem;">
				<img src="{{ asset('assets/img/salle4.png')}}" class="card-img-top" alt="salle">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sit eveniet minus suscipit, ab amet aperiam asperiores a laborum nemo ipsum sed dignissimos nobis culpa, repellat aliquid quis architecto non..</p>
					<a href="{{ path('reservation') }}" class="btn btn-primary">Reservation</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-3 ml-3" style="width: 17rem; ">
				<img src="{{ asset('assets/img/salle5.png')}}" class="card-img-top" alt="salle">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit aperiam sit nisi voluptatum non quia deserunt accusantium, aspernatur recusandae pariatur quam officiis corporis itaque ratione rerum minima facilis? Adipisci, facilis?.</p>
					<a href="{{ path('reservation') }}" class="btn btn-primary">Reservation</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-3 ml-3" style="width: 17rem;">
				<img src="{{ asset('assets/img/salle6.png')}}" class="card-img-top" alt="salle">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit quasi aliquid, neque distinctio voluptas culpa sit libero praesentium obcaecati quia aperiam eveniet aut minima, eius numquam pariatur deserunt maiores ad.    .</p>
					<a href="{{ path('reservation') }}" class="btn btn-primary">Reservation</a>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
